.container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.link {
  margin-top: 1.2rem;
  text-transform: capitalize;
}
.link a {
  color: royalblue;
}
